@import "./../../../../../scss/variables";

.todoItem {
  padding: 15px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid $grayLight2;
  border-bottom: 1px solid $grayLight2;

  &:not(:first-child) {
    border-top: none;
  }

  &::before {
    content: attr(data-number);
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $grayDark;
  }

  & span {
    margin-right: auto;
  }
}